/*  your css code here. If applicable */
.grid-item{
	background-color:lightgray;
	height: 150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
	margin:11px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.grid-container{
	display:flex;
}
@media screen and (max-width:1200px){
	.grid-container{
		flex-wrap:wrap;
	}
}